.student-card{
    text-align: center;
    height: 25vh;
    width: 25vw;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

h1{
    text-align: center;
}

h2{
    padding-top: 15px;
    color: #737475;
}